<!doctype html>
<html>
  <head>
  </head>
  <body>
    <% if(users){%>
      <h1>Hi! <%= currentUser %></h1>
      <a href="/urls %>">My Links</a>
      <form method="POST" action="/logout"><button>Logout</button>
      </form>
    <% } else {%>
      <p><a href='/login'>Login</a></p>
      <p><a href='/register'>Register</a></p>
    <% } %>
  </body>
</html>