<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_header %>
  </head>
  <body>
         <li>Short URL =  <%= redirectURL %>
         <form action="/urls/<%= shortURL %>" method="POST">
          <input id="updateURL" type="text" name="updateURL" value= "<%= redirectURL %>"" style="width: 300px">
          <button> Update Now! </button>
         </form>
  </body>
  </html>