<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
<body>
    <% for (var newUrl in urls) { %>
        <li><%= newUrl %> : <%= urls[newUrl] %>
          <form method="POST" action="/urls/<%= newUrl %>/delete">
            <p>
              <button>Delete URL</button>
            </p>
          </form>
            <p>
              <a href="/urls/<%= newUrl %>">Update my URL</a>
            </p>
        </li>
    <% } %>
    <b> Click here to shorten URL</b>
</body>
</html>