<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_header %>
  </head>
  <body>
      <% for (var fullURL in shortURL) { %>
         <li><%= shortURL %> : <%= shortURL[fullURL] %></li>
      <% }; %>
  </body>
  </html>