<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
<body>
    <% for (var url in userUrls) { %>
        <li><%= url %> : <%= userUrls[url].longUrl %>
          <form method="POST" action="/urls/<%= url %>/delete">
            <p>
              <button>Delete URL</button>
            </p>
          </form>
          <form method="GET" action="/urls/<%= url %>">
            <p>
              <button>Update my URL</button>
            </p>
          </form>
        </li>
    <% } %>
    <p>
      <a href="/urls/new %>">Click Here to Shorten URL</a>
    </p>
</body>
</html>